@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-red: #dc2626;
  --color-orange: #ea580c;
  --color-green: #16a34a;
}

html {
  font-size: 16px;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
